@import "../base/variables.less";
@import "../base/viewports.less";

.banner {
  background-color: @blue;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}

.banner--main {
  background-image: url("../../img/main-banner-background.jpg");
  height: 389px;
  margin-bottom: 32px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/main-banner-background@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .banner--main {
    background-image: url("../../img/main-banner-background-tablet.jpg");
    background-size: 768px auto;
    margin-bottom: 47px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/main-banner-background-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .banner--main {
    margin-bottom: 59px;
    background-image: url("../../img/main-banner-background-desktop.jpg");
    background-size: 1200px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/main-banner-background-desktop@2x.jpg");
    }
  }
}

.banner__tagline {
  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
  }
}
