@import "../base/variables.less";

.banner {
  background-color: @blue;
  background-image: url("../../img/main-banner-background.png");
  background-repeat: no-repeat;
  background-size: 320px 389px;
  min-width: 320px;
  min-height: 389px;
}
