@import "../base/variables.less";
@import "../base/fonts.less";

.header {
  background-color: @primary-color;
  color: @brown-color;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.header__link {
  height: 96px;
}
