@import "../base/variables.less";
@import "../base/fonts.less";

.interested {
  min-width: 262px;
}

.interested__title {
  font-size: 21px;
  font-family: "PTsans", sans-serif;
  font-weight: 700;
  color: @darker-color;
}
