@import "../base/variables.less";
@import "../base/fonts.less";

.reason__block {
  min-width: 284px;
}

.reason__block__title--white {
  color: @darker-color;
}

.reason__block--blue {
  background-color: @blue;
  color: @primary-color;
}

.reason__block--white {
  background-color: @gray;
}
