@import "../base/variables.less";
@import "../base/fonts.less";

.button {
  font-family: "PTsans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 26px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button--interested {
  background-color: @blue;
  color: @primary-color;
  padding: 16px 49px;
  min-width: 284px;
}
