@import "../base/fonts.less";

.copyright__text {
  font-size: 14px;
  line-height: 21px;
  color: @darker-color;
  margin-top: 7px;
  margin-bottom: 7px;
}

.copyright {
  width: 129px;
  display: flex;
  justify-content: space-between;
}
