@font-face {
  font-family: "PTsans";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/ptsans.woff") format(woff);
  src: url("/source/fonts/ptsans.woff2") format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PTsans";
  font-style: normal;
  font-weight: 700;
  src: url("/source/fonts/ptsans.woff") format(woff);
  src: url("/source/fonts/ptsans.woff2") format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PTsans";
  font-style: bold;
  font-weight: 400;
  src: url("/source/fonts/ptsansbold.woff") format(woff);
  src: url("/source/fonts/ptsansbold.woff2") format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PTsans";
  font-style: bold;
  font-weight: 700;
  src: url("/source/fonts/ptsansbold.woff") format(woff);
  src: url("/source/fonts/ptsansbold.woff2") format(woff2);
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 321px;
  font-size: 21px;
  line-height: 26px;
  font-family: "PTsans", "Arial", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #333333;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.unstyle {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button--primary {
  background-color: #81B3D2;
  color: #FFFFFF;
  padding-top: 16px;
  width: 284px;
  height: 58px;
}
@media (min-width: 768px) {
  .button--primary {
    width: 458px;
  }
}
.social__item {
  width: 48px;
  height: 48px;
  background-color: #81B3D2;
  padding: 12px 12px;
}
.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 156px;
}
.text-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .text-title {
    font-size: 30px;
  }
}
.text-description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.copyright__text {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin-top: 7px;
  margin-bottom: 7px;
}
.copyright {
  width: 129px;
  display: flex;
  justify-content: space-between;
}
.navigation {
  min-height: 56px;
  position: relative;
  width: auto;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .navigation {
    background-color: #FFFFFF;
  }
}
.navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: 63px;
  height: 56px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
}
.navigation__toggle:hover,
.navigation__toggle:active {
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  left: 20px;
  width: 23px;
  height: 4px;
  background-color: #81B3D2;
  box-shadow: 0 5px #81B3D2, 0 10px 0 0 #81B3D2;
}
.navigation--closed .navigation__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 5px 0 0 rgba(129, 179, 210, 0.3), 0 5px 0 0 rgba(129, 179, 210, 0.3);
}
@media (max-width: 767px) {
  .navigation--closed .navigation__item {
    display: none;
  }
  .navigation--closed .navigation__item--active {
    display: block;
  }
}
.navigation--opened .navigation__toggle {
  top: 0;
  right: 0;
  background-color: #81B3D2;
}
.navigation--opened .navigation__toggle::before,
.navigation--opened .navigation__toggle::after {
  content: "";
  position: absolute;
  right: 19px;
  width: 28px;
  height: 4px;
  background-color: #FFFFFF;
}
.navigation--opened .navigation__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.navigation--opened .navigation__toggle::after {
  transform: rotate(-45deg);
}
.navigation--opened .navigation__toggle:active::before,
.navigation--opened .navigation__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.navigation__list {
  background-color: #81B3D2;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #FFFFFF;
    color: #81B3D2;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .navigation__list {
    width: 1200px;
  }
}
.navigation__list a {
  display: block;
  padding: 17px 78px 12px 77px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  text-align: center;
}
@media (min-width: 768px) {
  .navigation__list a {
    padding: 0;
    border: none;
  }
}
.navigation--opened::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 7px;
  width: 100%;
  box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.2);
}
.navigation__item:nth-child(2) {
  margin-right: auto;
}
.navigation__item:nth-child(3) {
  margin-left: auto;
}
@media (min-width: 768px) {
  .navigation__item {
    min-width: 153px;
    padding: 18px 24px;
  }
}
@media (min-width: 1200px) {
  .navigation__item {
    min-width: 240px;
    padding: 18px 68px;
  }
}
@media (min-width: 768px) {
  .navigation__item a[href]:hover {
    color: #81B3D2;
  }
  .navigation__item a[href]:active {
    color: #000000;
    opacity: 0.3;
  }
}
@media (min-width: 768px) {
  .navigation__item-current {
    color: #766357;
  }
}
.navigation--nojs .navigation__toggle {
  display: none;
}
.navigation--nojs .navigation__list {
  position: static;
  min-height: 0;
}
.navigation--nojs .navigation__item {
  display: block;
}
.navigation--nojs .navigation__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}
.header {
  background-color: #81B3D2;
  color: #766357;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
@media (min-width: 768px) {
  .header {
    background-color: #FFFFFF;
  }
}
.header__logo {
  height: 96px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 235px;
  padding-top: 33px;
  padding-bottom: 33px;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    min-height: 120px;
    padding: 36px 60px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 36px 120px;
  }
}
.footer__tag {
  font-weight: 700;
  color: #000000;
}
.banner {
  background-color: #81B3D2;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}
.banner--main {
  background-image: url("../../img/main-banner-background.png");
  height: 389px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .banner--main {
    height: 518px;
    margin-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .banner--main {
    margin-bottom: 59px;
  }
}
@media (min-width: 768px) {
  .banner__tagline {
    width: 461px;
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .banner__tagline {
    width: 460px;
  }
}
.reason__block {
  width: 100%;
  height: 191px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .reason__block {
    width: 256px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .reason__block {
    width: 400px;
  }
}
.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .reasons {
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .reasons {
    margin-bottom: 44px;
  }
}
.reason__block--blue {
  background-color: #81B3D2;
  color: #FFFFFF;
  padding-top: 37px;
  padding-bottom: 37px;
}
@media (min-width: 768px) {
  .reason__block--blue {
    padding-top: 52px;
    padding-bottom: 31px;
  }
}
@media (min-width: 1200px) {
  .reason__block--blue {
    padding-bottom: 51px;
  }
}
.reasons__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.reasons__wrapper {
  width: 284px;
}
@media (min-width: 768px) {
  .reasons__wrapper {
    width: 520px;
  }
}
@media (min-width: 1200px) {
  .reasons__wrapper {
    width: 484px;
  }
}
@media (min-width: 768px) {
  .reasons__text-description {
    width: 520px;
  }
}
@media (min-width: 1200px) {
  .reasons__text-description {
    width: 484px;
  }
}
.reason {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .reason {
    flex-direction: row-reverse;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .reason {
    flex-direction: reverse;
  }
}
.reason__picture {
  width: 100%;
  height: 260px;
}
@media (min-width: 768px) {
  .reason__picture {
    height: 256px;
    min-width: 512px;
  }
}
@media (min-width: 1200px) {
  .reason__picture {
    min-width: 800px;
  }
}
.text-description--reason-block {
  width: 284px;
}
@media (min-width: 768px) {
  .text-description--reason-block {
    width: 190px;
  }
}
@media (min-width: 1200px) {
  .text-description--reason-block {
    width: 300px;
  }
}
.text-title--reason-blue {
  color: #FFFFFF;
  font-size: 21px;
  text-align: center;
}
.reason-list {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .reason-list {
    margin-bottom: 60px;
  }
}
.reason-list__wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 18px 28px 18px;
  background-color: #EEEEEE;
}
@media (min-width: 768px) {
  .reason-list__wrapper {
    flex-direction: row;
    justify-content: space-around;
    background-color: #EEEEEE;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .reason-list__wrapper {
    flex-direction: row;
  }
}
.reason__block--white {
  background-color: #EEEEEE;
  padding: 24px 26px;
}
@media (min-width: 768px) {
  .reason__block--white {
    padding: 41px 33px 63px 33px;
  }
}
@media (min-width: 1200px) {
  .reason__block--white {
    padding: 52px 50px;
  }
}
.reason-list .reason__block {
  border-bottom: 1px solid #D6D6D6;
}
@media (min-width: 768px) {
  .reason-list .reason__block {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .text-title--reason-list {
    font-size: 21px;
    text-align: center;
  }
}
.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.advantages__description {
  font-size: 14px;
  line-height: 21px;
}
.advantages__item {
  color: #000000;
  text-transform: uppercase;
  background-repeat: no-repeat;
  width: 237px;
  margin-bottom: 25px;
  padding-left: 7px;
}
@media (min-width: 768px) {
  .advantages__item {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 60px;
    width: 256px;
    min-height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    width: 400px;
    min-height: 192px;
    margin-top: 69px;
  }
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item::before {
  content: "";
  left: 0;
  margin-left: 18px;
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}
@media (min-width: 768px) {
  .advantages__item::before {
    position: static;
    margin-left: 0;
    background-size: 77px 72px;
    width: 77px;
    height: 72px;
  }
}
.advantages__item--motel::before {
  background-image: url("../../img/icon-house-mobile.svg");
}
.advantages__item--food::before {
  background-image: url("../../img/icon-burger-mobile.svg");
}
.advantages__item--souvenirs::before {
  background-image: url("../../img/icon-gift-mobile.svg");
}
.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.text-description--reason-block {
  text-align: left;
}
@media (min-width: 768px) {
  .text-description--reason-block {
    text-align: center;
  }
}
.advantages {
  margin-bottom: 46px;
}
.text-title--advantages {
  margin-top: 8px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .text-title--advantages {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
  }
}
.interested {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .interested {
    margin-bottom: 55px;
  }
}
.interested__title {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .interested__title {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .interested__title {
    line-height: 30px;
  }
}
.interested__wrapper {
  margin-bottom: 32px;
  width: 262px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .interested__wrapper {
    width: 435px;
  }
}
.map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 350px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .map iframe {
    margin-bottom: 0;
  }
}
.banner--catalog {
  background-image: url("../../../img/main-banner-background.png");
  height: 158px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .banner--catalog {
    height: 462px;
    margin-bottom: 61px;
  }
}
@media (min-width: 1200px) {
  .banner--catalog {
    margin-bottom: 99px;
  }
}
.text-title--multimedia {
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .text-title--multimedia {
    font-size: 30px;
  }
}
.multimedia__discription {
  font-size: 14px;
  line-height: 21px;
  width: 280px;
}
@media (min-width: 768px) {
  .multimedia__discription {
    width: 458px;
  }
}
.multimedia__item__picture {
  background-color: #766357;
}
.multimedia__item__title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}
.multimedia__item__autor {
  font-size: 14px;
  line-height: 21px;
}
.multimedia__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.multimedia__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .multimedia__list {
    width: 648px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 480px 347px 347px;
    margin-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .multimedia__list {
    grid-template-columns: auto auto auto;
    grid-template-rows: 400px 267px;
  }
}
.multimedia__item:first-child {
  width: 100%;
}
@media (min-width: 768px) {
  .multimedia__item--wide {
    grid-column: span 2;
  }
}
.multimedia__item__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .multimedia__item__description {
    width: 324px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .multimedia__item__description {
    width: 400px;
  }
}
.multimedia__text-description {
  font-size: 14px;
  line-height: 21px;
}
.like-counter__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.like-counter__button {
  background-image: url("../../../img/like-counter.svg");
  background-repeat: no-repeat;
  background-size: 23px 21px;
}
.video-blog__preview {
  background-image: url("../../../img/video-preview.png");
  background-repeat: no-repeat;
  background-size: 280px 177px;
  background-position: center;
  width: 280px;
  height: 177px;
}
.video-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-description--video-blog {
  width: 266px;
}
@media (min-width: 768px) {
  .text-description--video-blog {
    width: 445px;
  }
}
.info__field__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
.info__field__group__label {
  font-size: 14px;
  line-height: 21px;
}
.info__field__input {
  background-color: #F2F2F2;
  color: #000000;
}
.info__contact {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .info__contact {
    flex-direction: row;
    justify-content: space-between;
  }
}
.info__field {
  display: flex;
  flex-direction: column;
}
.filter__span {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
.filter {
  display: flex;
}
.filter__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .filter__list {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 16px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .filter__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.feedback__send__note {
  font-size: 12px;
  line-height: 21px;
  color: hsla(0, 0%, 20%, 0.6);
}
.feedback__text {
  background-color: #F2F2F2;
  color: hsla(0, 0%, 0%, 0.3);
  min-width: 279px;
  padding: 16px;
}
.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-description--feedback {
  width: 280px;
}
@media (min-width: 768px) {
  .text-description--feedback {
    width: 435px;
  }
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}
.text-title--review {
  width: 279px;
  height: 150px;
  background-color: #F2F2F2;
  color: #0000004d;
  padding: 16px;
}
@media (min-width: 768px) {
  .text-title--review {
    width: 648px;
    height: 160px;
  }
}
@media (min-width: 1200px) {
  .text-title--review {
    width: 768px;
  }
}
.review__send {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .review__send {
    flex-direction: row;
    justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */
