@import "../../base/fonts.less";
@import "../../base/variables.less";
@import "../../base/viewports.less";

.feedback__send__note {
  font-size: 12px;
  line-height: 21px;
  color: hsla(0, 0%, 20%, 0.6);
}

.feedback__text {
  background-color: @light-gray;
  color: hsla(0, 0%, 0%, 0.3);
  min-width: 279px;
  padding: 16px;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-description--feedback {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 435px;
  }
}
