@import "../../base/fonts.less";
@import "../../base/variables.less";

.info__field__title {
  font-size: 18px;
  font-family: "PTsans", sans-serif;
  font-weight: 700;
}

.filter__span {
  font-size: 18px;
  font-family: "PTsans", sans-serif;
  font-weight: 700;
  color: @darker-color;
}

.feedback__text {
  background-color: @light-gray;
  color: hsla(0, 0%, 0%, 0.3);
  min-width: 279px;
  padding: 16px;
}
