@import "../../base/fonts.less";
@import "../../base/variables.less";

.info__field__title {
  font-size: 18px;
  font-family: "PTsans", sans-serif;
  font-weight: 700;
  color: @darker-color;
}

.info__field__group__label {
  font-size: 14px;
  line-height: 21px;
}

.info__field__input {
  background-color: @light-gray;
  color: @darker-color;
}
