@import "../../base/fonts.less";
@import "../../base/variables.less";

.like-counter__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.like-counter__button {
  background-image: url("../../../img/like-icon.svg");
  background-repeat: no-repeat;
  background-size: 23px 21px;
}
