@import "../../base/variables.less";
@import "../../base/fonts.less";
@import "../../base/viewports.less";

.text-title--multimedia {
  font-weight: 700;
  color: @darker-color;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.multimedia__discription {
  font-size: 14px;
  line-height: 21px;
  width: 280px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}

.multimedia__item__picture {
  background-color: @brown-color;
}

.multimedia__item__title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: @darker-color;
}

.multimedia__item__autor {
  font-size: 14px;
  line-height: 21px;
}

.multimedia__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid @decorative-line;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    margin-bottom: 67px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 64px;
  }
}

.multimedia__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 648px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 480px 347px 347px;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto auto auto;
    grid-template-rows: 400px 267px;
  }
}

.multimedia__item__picture:first-child {
  width: 100%;
}

.multimedia__item--wide {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: -1 / 1;
  }
}

.multimedia__item__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    width: 324px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.multimedia__text-description {
  font-size: 14px;
  line-height: 21px;
}

.multimedia {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
  }
}

.multimedia__item {
  border-bottom: 1px solid @decorative-line;
  margin-bottom: 24px;
  padding-bottom: 25px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.multimedia__item:first-child {
  padding-top: 24px;

  @media (min-width: @tablet-width) {
    justify-content: inherit;
    padding-top: 0;
  }
}
