@import "../../base/fonts.less";
@import "../../base/variables.less";
@import "../../base/viewports.less";

.video-blog__picture {
  background-color: @brown-color;
}

.video-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-description--video-blog {
  width: 266px;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    width: 445px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 63px;
  }
}
