@import "../../base/fonts.less";
@import "../../base/variables.less";
@import "../../base/viewports.less";

.video-blog__preview {
  background-image: url("../../../img/video-preview.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 280px;
  height: 177px;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.video-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-description--video-blog {
  width: 266px;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    width: 445px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 63px;
  }
}
