@primary-color: #FFFFFF;
@darker-color: #000000;
@black-color: #333333;
@brown-color: #766357;
@blue: #81B3D2;
@gray: #EEEEEE;
@light-gray: #F2F2F2;
@dark-gray: #EAEAEA;
@border-bottom: #D6D6D6;
@decorative-line: #E5E5E5;
@decorative-form: #DBDBDB;
@button-disabled: #D5D5D5;
@blue-button-hover: #669EC0;
@blue-button-active: #5496BD;
@blue-button-disabled: #E5E5E5;
@copyright-disabled: #B3B3B3;
